---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Hero } from '../components/Hero';
import { About } from '../components/About';
import { Skills } from '../components/Skills';

// Welcome to the new portfolio!
---

<Layout>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<About client:load />
		<Skills client:load />
	</main>
</Layout>
