---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Hero } from '../components/Hero';
import { About } from '../components/About';
import { Interests } from '../components/Interests';
import { Skills } from '../components/Skills';
import { Experience } from '../components/Experience';
import { Projects } from '../components/Projects';
import { AISection } from '../components/AISection';
import { Contact, Footer } from '../components/Contact';
---

<Layout>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<About client:load />
		<Interests client:load />
		<Skills client:load />
		<Experience client:load />
		<Projects client:load />
		<AISection client:load />
		<Contact client:load />
	</main>
	<Footer />
</Layout>
